@import url(elegant-font-icon.css);
@import url(pe-icon-7-stroke.css);
@import url(simple-line-icons.css);
@import url(stroke-gap-icon.css);
.loader span, a {
	color: #ff8700
}
.dwn-ld-btn, .ovf-hidden, .pageloader, header, section {
	overflow: hidden
}
.btn .icon, .dwn-ld-btn, .loader {
	vertical-align: middle
}
.portfolio ul li, li, ol, ul {
	list-style: none
}
.ul-list-slider {
	color: #ff8700;
	font-size: 15px;
	line-height: 40px;
	list-style: none outside none;
	padding-left: 47px;
}
.ul-list-slider li {
	position: relative;
}
.ul-list-slider li:before {
	color: #ff8700;
	content: "\f061";
	display: block;
	font-family: fontawesome;
	font-size: 20px;
	left: -39px;
	position: absolute;
	top: 0;
}
.pageloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	opacity: 1;
	display: table
}
.loader {
	text-align: center;
	display: table-cell
}
.loader span {
	font-weight: 300;
	font-size: 60px;
	display: block;
	margin-top: 40px
}
body, p {
	font-size: 16px;
	line-height: 27px
}
.sp-hydrogen {
	width: 96px;
	height: 96px;
	clear: both;
	margin: 60px auto;
	position: relative;
	border: 3px solid #ff8700;
	border-radius: 50%;
	-webkit-animation: spHydro .7s infinite linear;
	animation: spHydro .7s infinite linear
}
.sp-hydrogen:after, .sp-hydrogen:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #252830;
	border-radius: 50%
}
.sp-hydrogen:before {
	top: calc(50% - 15px);
	left: calc(50% - 15px)
}
.sp-hydrogen:after {
	top: -3px;
	left: -3px
}
@-webkit-keyframes spHydro {
from {
-webkit-transform:rotate(0)
}
to {
-webkit-transform:rotate(359deg)
}
}
@keyframes spHydro {
from {
transform:rotate(0)
}
to {
transform:rotate(359deg)
}
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
@-webkit-keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:1
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}
@-webkit-keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}
@keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}
::-moz-selection, ::selection {
background-color:#ff8700;
color:#fff
}
::-moz-selection {
background-color:#ff8700;
color:#fff
}
::selection {
	background-color: #ff8700;
	color: #fff
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important
}
body {
	font-weight: 400;
	font-family: Ubuntu, sans-serif;
	color: #4c4c4c;
	background: #fff;
	margin: 0
}
.h1, .h2, .h3, h1, h2, h3 {
	font-weight: 300
}
a:active, a:focus, a:hover {
	color: #000;
	text-decoration: none;
	outline: 0;
	-webkit-transition: color .1s;
	transition: color .1s
}
.dull, p {
	color: #939598
}
.italic {
	font-style: italic
}
.dull {
	letter-spacing: -.6px
}
li, ol, ul {
	padding: 0;
	margin: 0
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
	letter-spacing: .5px;
	color: #4c4c4c
}
.h1, h1 {
	font-size: 66px
}
.h2, h2 {
	font-size: 56px
}
.h3, h3 {
	font-size: 46px
}
.h4, .h5, .h6, h4, h5, h6 {
	font-weight: 400
}
.h4, h4 {
	font-size: 26px
}
.h5, h5 {
	font-size: 20px
}
.h6, h6 {
	font-size: 16px
}

@media (max-width:1024px) {
.h1, h1 {
	font-size: 56px
}
.h2, h2 {
	font-size: 46px
}
.h3, h3 {
	font-size: 36px
}
}
small {
	font-weight: 300;
	font-size: 15px;
	line-height: 26px
}
strong {
	font-family: inherit;
	font-weight: 700
}
header, section {
	position: relative;
	z-index: 1
}
.fw-300 {
	font-weight: 300!important
}
.fw-400 {
	font-weight: 400!important
}
.fw-700 {
	font-weight: 700!important
}
i, span {
	color: inherit
}
.dark-bg, .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
	color: #fff
}
.base-highlight {
	color: #ff8700
}
.color_overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 0
}
.bg-color-white {
	background-color: #fff
}
.bg-color1 {
	background-color: #252830
}
.bg-color2 {
	background-color: #ff8700
}
.bg-color3 {
	background-color: #f8f9fb
}
.gray-bg {
	background-color: #f7f7f7
}
.gray-bg-2 {
	background-color: #87899d
}
.bg-light-gray {
	background-color: #f9f9f9
}
.bg-dark-gray {
	background-color: #666;
	color: #b2b2b2
}
.twitter {
	color: #00aced
}
.facebook {
	color: #3b5998
}
.dribbble {
	color: #ea4c89
}
.google-plus {
	color: #dd4b39
}
.linkedin {
	color: #007bb6
}
.instagram {
	color: #517fa4
}
.pinterest {
	color: #cb2027
}
.flickr {
	color: #ff0084
}
.behance {
	color: #1769ff
}
.contain-bg, .cover-bg, .fixed-bg, .pattern-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.contain-bg {
	background-size: contain;
	background-position: center bottom
}
.fixed-bg {
	background-attachment: fixed
}
.pattern-bg {
	background-repeat: repeat;
	background-size: auto
}

@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-device-width:1024px) {
.fixed-bg {
	background-attachment: scroll
}
}
.icon-color-1 {
	color: #4796B7
}
.icon-color-2 {
	color: #9F5CD1
}
.icon-color-3 {
	color: #F1438A
}
.icon-color-4 {
	color: #00B8A9
}
.icon-color-5 {
	color: #AFD066
}
.icon-color-6 {
	color: #AD5C5C
}
.show {
	display: block!important
}
.padding {
	padding-top: 40px;
	padding-bottom: 40px
}
.single-padding {
	padding-top: 80px;
	padding-bottom: 80px
}
.double-padding {
	padding-top: 160px;
	padding-bottom: 160px
}
.pad-top {
	padding-top: 10px
}
.pad-top-1 {
	padding-top: 40px
}
.pad-top-2 {
	padding-top: 80px
}
.pad-top-3 {
	padding-top: 160px
}
.pad-bottom {
	padding-bottom: 10px
}
.pad-bottom-1 {
	padding-bottom: 40px
}
.pad-bottom-2 {
	padding-bottom: 80px
}
.pad-bottom-3 {
	padding-bottom: 160px
}
.pad-z {
	padding: 0
}
.mar-top {
	margin-top: 10px
}
.mar-top-1 {
	margin-top: 40px
}
.mar-top-2 {
	margin-top: 80px
}
.mar-top-3 {
	margin-top: 160px
}
.mar-bottom {
	margin-bottom: 10px
}
.mar-bottom-1 {
	margin-bottom: 40px
}
.mar-bottom-2 {
	margin-bottom: 80px
}
.mar-bottom-3 {
	margin-bottom: 160px
}
.mar-z {
	margin: 0
}
.center-block, .hero-text, .mar-cen {
	margin-left: auto;
	margin-right: auto
}
.flex-row-center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-direction: row
}

@media (max-width:992px) {
.double-padding {
	padding-top: 80px;
	padding-bottom: 80px
}
.row [class^=col-] {
	padding-bottom: 40px
}
.row [class^=col-]:last-child {
	padding-bottom: 0
}
.flex-row-center {
	display: block!important
}
.flex-row-center [class^=col-]:last-child {
	padding-top: 30px;
	padding-bottom: 30px
}
}

@media (max-width:768px) {
.row [class^=col-] {
	text-align: center
}
}

@media (max-width:991px) {
.intro {
	text-align: center
}
}
.center-block {
	display: block
}
.embed-video-container {
	width: 100%;
	max-width: 600px;
	position: relative;
	display: inline-block
}
.embed-video-container iframe {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border: none;
	width: 100%;
	height: 312px
}
.bb-1 {
	border-bottom: 1px solid #ddd
}
.op7 {
	opacity: .7;
	filter: alpha(opacity=70)
}
.hero-text {
	position: relative;
	width: 95%
}
.hero-text .title {
	letter-spacing: 4.95px;
	font-weight: 700;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px
}
.hero-text .slogan {
	font-size: 56px;
	line-height: 74px;
	font-weight: 300;
	letter-spacing: -1px
}
.hero-text .sub {
	font-weight: 300;
	display: block;
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 20px;
	text-transform: capitalize
}
.hero-text .play {
	font-size: 120px;
	color: #fff
}
.hero-text .play:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2)
}

@media(max-width:768px) {
.hero-text .slogan {
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 1px
}
.hero-text .play {
	font-size: 90px
}
}
.heading_1 {
	max-width: 85%;
	margin: 20px auto 60px
}
.heading_1 .icon {
	margin: 45px auto;
	font-size: 62px;
	display: block;
	color: #4c4c4c
}
.heading_1 .main_title {
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 30px
}
.heading_1 .sub_title {
	opacity: .4;
	letter-spacing: 4.95px;
	font-weight: 700;
	display: block;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	color: #1e1e1e;
	margin-bottom: 20px
}
.heading_2 .main_title {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px
}
.heading_2 .sub_title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 32px
}

@media (max-width:992px) {
.heading_1 {
	margin-bottom: 30px
}
.heading_1 .main_title {
	font-size: 40px;
	font-weight: 300
}
.heading_1 .sub_title {
	line-height: 1.5
}
.heading_2 .sub_title {
	margin-top: 10px
}
}
@-ms-viewport {
width:device-width
}
@-o-viewport {
width:device-width
}
@viewport {
width:device-width
}
.btn.active:focus, .btn:active:focus, .btn:focus {
	outline: -webkit-focus-ring-color auto 0
}
.btn .icon {
	margin-right: 10px
}
.btn {
	font-size: inherit;
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-ms-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	padding: 13px 40px;
	border-radius: 0;
	font-weight: 300
}
.btn.radius7 {
	border-radius: 7px
}
.btn.radius100 {
	border-radius: 100px
}
.btn-primary {
	background: #ff8700;
	border-color: #ff8700
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #ffab33;
	border-color: #ffab33
}
.btn-primary-white {
	background: #fff;
	border-color: #fff;
	color: #ff8700
}
.btn-primary-white:active, .btn-primary-white:focus, .btn-primary-white:hover {
	color: #fff
}
.btn-primary-black {
	background: #000;
	border-color: #000;
	color: #fff
}
.btn-primary-black:active, .btn-primary-black:focus, .btn-primary-black:hover {
	background: #222;
	border-color: #222;
	color: #fff
}
.btn-default {
	border: 1px solid #fff;
	color: #fff;
	background: 0 0
}
.btn-default:active, .btn-default:focus, .btn-default:hover {
	border: 1px solid #fff;
	color: #ff8700;
	background: #fff
}
.btn-default-white {
	border: 1px solid #fff;
	color: #fff;
	background: 0 0
}
.btn-default-white:active, .btn-default-white:focus, .btn-default-white:hover {
	background: #fff;
	border-color: #fff;
	color: #ff8700
}
.btn-border-extra {
	border: 5px solid #fff;
	color: #fff;
	font-weight: 700
}
.btn-border-extra:active, .btn-border-extra:focus, .btn-border-extra:hover {
	background: #fff;
	border-color: #fff;
	color: #ff8700
}
.btn-lg {
	padding: 20px 50px;
	font-size: 20px
}
.btn-md {
	padding: 13px 30px
}
.btn-sm {
	padding: 11px 25px;
	font-size: 14px
}
.btn-xs {
	padding: 10px 20px;
	font-size: 10px
}
.dwn-ld-btn {
	display: inline-block;
	position: relative;
	border-radius: 0;
	text-align: left;
	padding: 15px 25px 12px 75px;
	font-size: 13px;
	line-height: 1;
	border: 1px solid #fff;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 15px;
	color: #fff;
	background: #222;
	-webkit-transition: all .1s;
	transition: all .1s
}
.dwn-ld-btn:active, .dwn-ld-btn:focus, .dwn-ld-btn:hover {
	background: #000;
	color: #ff8700
}
.dwn-ld-btn b {
	display: block;
	padding-top: 4px;
	font-size: 25px;
	font-weight: 300;
	white-space: nowrap
}
.mfp-arrow, a.read-more, a.read-more:after {
	display: inline-block
}
.dwn-ld-btn i:after {
	content: " ";
	height: 100%;
	width: 1px;
	background: #fff;
	position: absolute;
	right: -3px;
	top: -15px
}
.dwn-ld-btn i {
	font-size: 40px;
	position: absolute;
	left: 20px;
	padding-right: 8px;
	height: 100%
}
a.read-more {
	font-size: 16px
}
a.read-more:hover {
	color: #ff8700
}
a.read-more:after {
	content: '▸';
	margin-left: 3px
}
input.form-control {
	min-height: 50px;
	border: 1px solid #e3e3e3;
	border-radius: 0;
	color: #727272;
	font-size: inherit;
	outline: 0;
	box-shadow: none
}
textarea.form-control {
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 3px;
	padding-left: 12px;
	font-size: inherit;
	min-height: 200px;
	-webkit-backface-visibility: hidden
}
input.form-control:active, input.form-control:focus, textarea.form-control:active, textarea.form-control:focus {
	border-color: #e3e3e3;
	border-left: 2px solid #ff8700;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}
.form-tooltip {
	position: relative;
	z-index: 999;
	margin: 0
}
.form-tooltip ul {
	position: absolute;
	z-index: 9999;
	bottom: 100%;
	text-align: center;
	color: #fff;
	margin-bottom: 9px;
	right: 12px;
	width: auto
}
.form-tooltip ul>li {
	position: relative;
	font-weight: 700;
	background: #ff8700;
	font-size: 11px;
	line-height: 16px;
	width: 100%;
	padding: 13px;
	margin: 0 10px
}
.form-tooltip ul li::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	left: 0;
	border-top: 10px solid #ff8700;
	border-right: 10px solid transparent
}
.mfp_zoom_out.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.mfp_zoom_out.mfp-bg.mfp-ready {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: .8
}
.mfp_zoom_out .mfp-content, .mfp_zoom_out.mfp-bg.mfp-removing {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0
}
.mfp_zoom_out .mfp-content {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3)
}
.mfp_zoom_out.mfp-ready .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
.mfp_zoom_out.mfp-removing .mfp-content {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0
}
.mfp-figure:after {
	box-shadow: none;
	background: 0 0
}
.mfp-bg {
	background-color: #fff
}
.mfp-arrow {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 100
}
.mfp-arrow:after, .mfp-arrow:before {
	color: #000;
	font-size: 90px;
	border-width: 0
}
.mfp-arrow-left:before {
	content: "\f104"
}
.mfp-arrow-right {
	right: 25px
}
.mfp-arrow-right:before {
	content: "\f105"
}
.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
	color: #000;
	font-size: 40px
}
.tooltip-x {
	display: inline;
	position: relative;
	z-index: 999
}
.tooltip-x-content {
	position: absolute;
	z-index: 9999;
	width: 180px;
	height: 90px;
	left: 50%;
	margin-left: -90px;
	bottom: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	margin-bottom: 20px;
	cursor: default;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
}
.tooltip-x:hover .tooltip-x-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.tooltip-x-content>span {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
	padding-top: 20px;
	font-weight: 400
}
.tooltip-x-front {
	background: #f0f0f0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, -90deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, -90deg)
}
.tooltip-x-back {
	background: #ff8700;
	font-size: 11px;
	line-height: 16px;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, 90deg)
}
.tooltip-x:hover .tooltip-x-content>span {
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, 0deg)
}
.tooltip-x:hover .tooltip-x-content>span i {
	color: #000;
	font-size: 30px;
	margin-top: 10px
}
.tooltip-x-content .tooltip-x-back::after, .tooltip-x-content .tooltip-x-front::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 0
}
.tooltip-x-content .tooltip-x-front::after {
	right: 0;
	border-top: 10px solid #f0f0f0;
	border-left: 10px solid transparent
}
.tooltip-x-content .tooltip-x-back::after {
	left: 0;
	border-top: 10px solid #ff8700;
	border-right: 10px solid transparent
}
.slick-arrow {
	z-index: 2
}
.slick-prev {
	left: 25px
}
.slick-next {
	right: 25px
}
.slick-next:before, .slick-prev:before {
	font-size: 30px;
	opacity: .75;
	color: #ff8700
}
.slick-dots li button:before {
	font-size: 46px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: #ff8700
}
.slick-dots li button:hover:before, .slick-dots li.slick-active button:before {
	opacity: 1
}
.main-menu {
	border-radius: 0;
	border: none;
	margin: 0;
	box-shadow: 0 0 24px 0 rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.25);
	z-index: 2;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background-color: #fff;
	top: -60px;
	opacity: 0;
	border-bottom: 1px solid rgba(153,153,153,.48)
}
.main-menu.navbar-fixed-top {
	height: 60px;
	z-index: 3!important
}
.main-menu .navbar-collapse {
	padding: 0;
	float: left
}
.main-menu.navbar-fixed-top.down {
	top: 0;
	opacity: 1
}
.main-menu.down a.navbar-brand {
	position: relative;
	top: 0;
	text-align: center
}
.main-menu .nav li {
	float: left;
	padding: 4px
}
.main-menu .nav li a {
	display: block;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	text-decoration: none;
	outline: 0;
	background: inherit;
	color: #999;
	text-transform: uppercase
}
.main-menu .nav li a:hover, .main-menu .nav li.active a {
	background: 0 0;
	color: #ff8700
}
.main-menu .navbar-brand {
	height: 59px;
	line-height: 59px;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	color: #ff8700;
	width: 200px;
	text-align: center
}
.main-menu .navbar-brand img {
	height: 57px;
	width: auto;
	margin: 0 auto
}
.main-menu .container, .main-menu .container-fluid {
	background-color: inherit
}

@media (max-width:992px) {
.main-menu .nav {
	padding-left: 60px
}
.main-menu .navbar-toggle {
	float: right;
	height: 60px;
	margin: 0 0 0 10px;
	display: block
}
.main-menu .navbar-toggle .icon-bar {
	background: #ff8700;
	height: 2px;
	border-radius: 2px
}
.main-menu .navbar-toggle:hover .icon-bar {
	background: #252830;
	-webkit-transition: background .3s ease-in;
	transition: background .3s ease-in
}
.main-menu .container {
	width: 100%
}
.main-menu .navbar-collapse {
	width: 100%;
	margin: 20px 0 0
}
.main-menu .nav li {
	float: none;
	margin: 0
}
.main-menu .nav li a:hover {
	background-color: #f3f3f3;
	color: #ff8700
}
.main-menu .navbar-collapse.collapse {
	display: none!important
}
.main-menu .navbar-nav>li {
	float: none
}
.main-menu .navbar-collapse.collapse.in {
	display: block!important;
	overflow-y: auto!important;
	visibility: visible!important;
	padding-bottom: 10px;
	margin-bottom: 30px
}
}
.main-menu .social_container {
	float: right;
	overflow: visible;
	position: relative
}
.main-menu .social_wraper {
	display: block;
	float: right;
	position: absolute;
	right: 0
}
.main-menu .social {
	max-width: 140px;
	-webkit-transition: all .75s .1s;
	-moz-transition: all .75s .1s;
	transition: all .75s .1s;
	margin-top: 3px;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
	overflow: hidden;
	white-space: nowrap;
	z-index: 10;
	position: relative;
	background-color: #fff;
	height: 48px
}
.main-menu .social.appear {
	max-width: 470px
}
.main-menu .social li {
	display: inline-block
}
.main-menu .social .social_blinker {
	position: relative;
	top: -5px;
	margin: 0 5px;
	cursor: pointer;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.main-menu .social_blinker i {
	font-size: 10px
}
.main-menu .social li a {
	padding: 10px;
	font-size: 28px;
	display: inline-block;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease
}

@media(max-width:768px) {
.main-menu ul.social {
	min-width: 155px;
	max-width: 155px;
	white-space: normal
}
.main-menu ul.social.appear {
	height: 200px;
	border-bottom: 1px solid #f3f3f3
}
.main-menu .social .social_blinker {
	display: inline-block!important
}
}
.slider-fade-bg, .slider-fade-bg div {
	height: 100%;
	width: 100%
}
.intro-basic .title {
	font-size: 56px;
	letter-spacing: 0;
	line-height: 1.3;
	margin-bottom: 25px;
	font-weight: 300
}
.intro-basic .subtitle {
	font-weight: 300;
	font-size: 21px;
	margin-bottom: 30px;
	line-height: 1.5
}
.intro-basic .button-box {
	margin: 50px 0
}
.intro-basic .btn {
	margin-right: 15px;
	margin-bottom: 5px
}
.intro-basic .btn:last-child {
	margin-right: 0
}

@media(max-width:992px) {
.intro-basic .caption .title {
	font-size: 40px;
	letter-spacing: 2px
}
.intro-basic .button-box a {
	margin-bottom: 10px
}
}
.slider-fade-bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	float: left
}
.extra_links a {
	padding: 0 10px
}
.extra_links a:after {
	content: "/";
	position: relative;
	left: 10px;
	color: #ddd
}
.extra_links a:last-child:after {
	display: none
}
.intro-form {
	padding: 30px;
	max-width: 480px;
	margin: 0 auto
}
.intro-form .social a {
	color: #fff;
	font-size: 18px;
	opacity: .9;
	padding: 10px 20px
}
.intro-form .social a i {
	margin-right: 10px;
	font-size: 28px;
	float: left
}
.intro-form .social a:hover {
	opacity: 1
}
.intro-form .social .fb {
	background: #3b5998
}
.intro-form .social .tw {
	background: #00aced
}
.form-title {
	padding: 20px 0;
	margin-bottom: 0
}
.registration button {
	font-size: 20px;
	margin-top: 30px
}
.fast-subscribe-form {
	position: relative
}
.mailchimp {
	max-width: 600px
}
.team .member_pop>img, .team_member_bio .member_details img {
	max-width: 100%
}
.fast-subscribe-form .form-control {
	width: 50%
}
.mailchimp .input-group>.form-control, .mailchimp .input-group>.input-group-btn>.btn {
	height: 50px;
	padding: 10px 36px;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 0
}
.fast-subscribe-form .notice {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0;
	font-size: 20px;
	left: 0
}
.fast-subscribe-form .notice i {
	margin-right: 10px;
	color: #ff8700;
	font-size: 30px
}

@media(max-width:600px) {
.fast-subscribe-form .input-box {
	width: 100%;
	display: block;
	float: left
}
.fast-subscribe-form .input-box .btn {
	margin-top: 40px
}
}
.features-grid i {
	font-size: 70px;
	margin-bottom: 40px
}
.content-section ul.slick-dots {
	right: 20px;
	bottom: 50%;
	display: inline-block;
	width: 20px
}
.content-section ul.slick-dots li button:before {
	opacity: 1
}
.accordion {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	margin: 0
}
.accordion .panel {
	margin: 0;
	border-width: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent
}
.accordion .title {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0
}
.accordion .title a {
	display: block;
	position: relative;
	color: #222;
	padding: 14px 20px;
	border: 1px solid #e8e8e8;
	letter-spacing: 3px
}
.accordion .title a p {
	font-size: 14px;
	text-transform: uppercase;
	color: #ddd;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out
}
.accordion .title a:hover p, .accordion .title a[aria-expanded=true] p {
	font-size: 16px;
	color: #222
}
.accordion .title a:hover, .accordion .title a[aria-expanded=true] {
	text-decoration: none;
	border-color: #ddd;
	background: #fff;
	font-size: 10px
}
.accordion .title a[aria-expanded=true]:after, .accordion .title a[aria-expanded=true]:hover:after {
	content: "\f106"
}
.accordion .title a:after {
	content: "\f107";
	position: absolute;
	top: 40%;
	right: 20px;
	font-family: FontAwesome;
	font-size: 15px
}
.accordion .desc {
	padding: 10px 20px 20px;
	font-size: 14px;
	line-height: 1.8;
	background-color: #fff;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd
}
.accordion .title a, .accordion .title a:after {
	-webkit-transition: all .27s cubic-bezier(0, 0, .58, 1);
	-moz-transition: all .27s cubic-bezier(0, 0, .58, 1);
	-o-transition: all .27s cubic-bezier(0, 0, .58, 1);
	-ms-transition: all .27s cubic-bezier(0, 0, .58, 1);
	transition: all .27s cubic-bezier(0, 0, .58, 1)
}
.service-category .main-service {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	position: relative;
	overflow: hidden;
	padding: 20px 40px 40px;
	margin-bottom: 18px;
	background-color: #fff;
	text-align: center
}
.service-category .main-service i {
	font-size: 70px;
	padding: 30px
}
.service-category .main-service>h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}
.service-category .sub-services {
	position: absolute;
	top: 30px;
	width: 100%;
	left: 0;
	padding: 0 40px 40px
}
.service-category .sub-services h4 {
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	-ms-transform: translate(0, -360px);
	-webkit-transform: translate(0, -360px);
	transform: translate(0, -360px);
	text-align: left;
	font-weight: 700;
	font-size: 26px
}
.service-category .sub-services li {
	margin-bottom: 5px;
	text-align: left;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	transition: opacity .35s, transform .35s;
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	-ms-transform: translate(0, 360px);
	-webkit-transform: translate(0, 360px);
	transform: translate(0, 360px)
}
.service-category .sub-services li a {
	color: #222;
	padding: 5px 15px;
	text-align: left;
	background: #fff;
	display: block
}
.portfolio .filters, .portfolio .item {
	text-align: center
}
.service-category .sub-services li a:hover {
	background: #f2f2f2
}
.main-service:hover>h4, .main-service:hover>i {
	opacity: 0;
	-webkit-transition: opacity .2s, -webkit-transform .35s;
	transition: opacity .2s, transform .35s;
	-ms-transform: translate(0, 360px);
	-webkit-transform: translate(0, 360px);
	transform: translate(0, 360px)
}
.main-service:hover .sub-services h4, .main-service:hover .sub-services li {
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}
.main-service:hover .sub-services h4 {
	-webkit-transition-delay: .5s;
	transition-delay: .5s
}
.main-service:hover .sub-services li:nth-of-type(2) {
	-webkit-transition-delay: .1s;
	transition-delay: .1s
}
.main-service:hover .sub-services li:nth-of-type(3) {
	-webkit-transition-delay: .2s;
	transition-delay: .2s
}

@media (max-width:1024px) {
.service-category .main-service h4 {
	font-size: 20px
}
}
.about-us .nav-tabs {
	text-align: center;
	border-bottom: 0
}
.about-us .nav-tabs>li {
	float: none;
	display: inline-block;
	background-color: #fff;
	cursor: pointer;
	margin-bottom: 20px
}
.about-us .nav-tabs>li>a {
	background-color: #fff;
	padding: 15px 40px;
	color: #777;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-top: 1px solid rgba(221,221,221,.56)
}
.about-us .nav-tabs>li.active>a, .about-us .nav-tabs>li.active>a:focus, .about-us .nav-tabs>li.active>a:hover, .portfolio .filters .filter-item {
	background-color: #ff8700;
	color: #fff
}
.about-us .tab-pane {
	padding: 100px 0
}
.portfolio .filters .filter-item {
	border: 0;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	padding: 7px 22px;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: 0
}
.portfolio .item, .portfolio ul {
	padding: 0;
	margin: 0
}
.portfolio .filters .filter-item-active {
	background-color: #000;
	border-color: #000
}
.portfolio .item-wrapper {
	float: left;
	position: relative
}
.portfolio .item {
	position: relative
}
.portfolio .item :hover .image {
	-webkit-transform: translateY(-74px);
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	transform: translateY(-74px)
}
.portfolio .item :hover .image p {
	opacity: 1
}
.portfolio .item .image {
	width: 100%;
	position: relative;
	z-index: 1;
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	transition: transform .4s;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 3px;
}
.portfolio .item .image p {
	position: absolute;
	top: 7%;
	left: 20px;
	opacity: 0;
	-webkit-transition: -webkit-transform .6s;
	-moz-transition: -moz-transform .6s;
	transition: transform .6s
}
.portfolio .item .image p a {
	color: #ff8700;
	font-size: 13px;
	background: #f9f9f9;
	padding: 3px 6px;
	border-radius: 3px;
	opacity: .7
}
.portfolio .item .item-wrapper:hover a:before {
	top: 50%;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}
.portfolio .item .image>a:before {
	color: #fff;
	content: "\f00e";
	font-family: FontAwesome;
	position: absolute;
	font-size: 46px;
	top: -100%;
	left: 0;
	right: 0;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}
.portfolio .item .image>a:hover:before {
	opacity: 1
}
.portfolio .item .image img {
	border: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	transition: all 1s ease-in-out 0s;
	-webkit-transition: all 1s ease-in-out 0s
}
.portfolio .item .text {
	text-align: left;
	padding: 15px;
	background-color: #252830;
	position: absolute;
	width: 100%;
	bottom: 0
}
.content-contact, .team_member_bio .member_image {
	text-align: center
}
.portfolio .item .text h5 {
	margin: 0
}
.portfolio .item .text h5 a, .portfolio .item .text span {
	color: #fff
}
.portfolio .item .text>a {
	position: absolute;
	right: 12px;
	top: 26px;
	border-radius: 4px;
	font-size: 13px;
	padding: 5px 8px
}
.portfolio-pop-up .mfp-close {
	color: #222!important;
	font-size: 60px!important;
	position: relative!important
}
.member_social, .portfolio_title, .team_member_bio {
	position: relative
}
.portfolio_title .mfp-title {
	color: #222
}

@media(max-width:768px) {
.portfolio .filters .filter-item {
	margin-bottom: 10px;
	float: none
}
.tooltip-x-content {
	display: none
}
.portfolio .filters {
	text-align: center
}
}
.team .member-details {
	padding: 0 10px 30px
}
.team .member-details:hover {
	box-shadow: 0 5px 65px 0 rgba(0,0,0,.3);
	-webkit-transition: box-shadow .4s ease-in;
	transition: box-shadow .4s ease-in
}
.team .member-details .team-info {
	padding-top: 15px
}
.team .member-details .team-info h4 {
	margin-bottom: 10px;
	margin-top: 15px
}
.team_member_bio {
	background-color: #fff;
	box-shadow: 0 5px 65px 0 rgba(0,0,0,.3)
}
.team_member_bio .member_details {
	padding-top: 40px;
	padding-bottom: 40px
}
.team_member_bio .cred .info {
	line-height: 1.5;
	font-size: 22px;
	margin-bottom: 26px
}
.member_social {
	display: inline-block;
	z-index: 1
}
.member_social li {
	display: inline-block;
	padding: 0 15px
}
.member_social li a {
	font-size: 24px;
	opacity: .8
}
.member_social li a:hover {
	opacity: 1
}
.team_member_bio .about {
	margin-top: 30px;
	font-size: 18px;
	width: 85%
}
.team_member_bio .magnificPopUp_close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: inline-block;
	z-index: 100
}
.subscribe, .subscribe .mailchimp {
	position: relative
}
.mfp_zoom_out .mfp-arrow-right {
	right: 60px
}
.mfp_zoom_out .mfp-arrow-left {
	left: 50px
}

@media(max-width:992px) {
.team .container {
	width: 100%
}
}

@media(max-width:768px) {
.team_member_bio .cred .name {
	font-size: 28px
}
.team_member_bio .member_details {
	text-align: center
}
.team_member_bio .about {
	margin-left: auto;
	margin-right: auto
}
}
.content_4 .part li {
	font-size: 16px;
	margin-bottom: 5px
}
.content_4 .part li:hover {
	color: #ff8700;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.content_4 .part li i {
	margin-right: 10px
}
.content_4 .buttons_row a {
	margin-right: 20px
}
.content_4 .buttons_row a:last-child {
	margin-right: 0
}
.statistics .counter_wraper .count i {
	font-size: 46px;
	display: block;
	margin-bottom: 20px
}
.statistics .counter_wraper .count span {
	font-size: 46px;
	font-weight: 300
}
.statistics .counter_wraper .count p {
	font-size: 18px;
	margin-top: 20px
}
.subscribe-submit {
	height: 45px;
	font-size: 28px;
	line-height: 1;
	padding: 0 20px;
	color: #ff8700;
	border: 0 solid;
	overflow: hidden;
	background: #fff;
	-webkit-transition: color .3s;
	transition: color .3s
}
.subscribe-submit:hover {
	color: #252830
}
.subscribe .email_input {
	height: 45px;
	padding: 6px 12px;
	font-size: 14px;
	color: #8f96a9;
	border: none;
	border-radius: 1px;
	width: 100%
}
.subscribe .notice {
	position: absolute;
	font-size: 15px;
	opacity: 0;
	font-weight: 700;
	line-height: 1.5
}
.subscribe .notice i {
	margin-right: 5px
}

@media (max-width:991px) {
.subscribe {
	text-align: center
}
.subscribe .mailchimp {
	margin: 0 auto
}
}
.cta-3 img {
	width: 80px
}
.pricing-tables .pricing-table {
	background-color: #fff;
	position: relative
}
.pricing-tables .pricing-table:hover {
	box-shadow: 0 5px 65px 0 rgba(0,0,0,.3);
	-webkit-transition: box-shadow .4s ease-in;
	transition: box-shadow .4s ease-in
}
.pricing-tables .pricing-table.suggested {
	background-color: #ff8700;
	color: #fff
}
.pricing-tables .pricing-table.suggested h5, .pricing-tables .pricing-table.suggested i {
	color: #fff
}
.pricing-tables .pricing-table h5 {
	position: relative
}
.pricing-tables .pricing-table .price {
	font-size: 28px;
	line-height: 125px;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 16px;
	position: relative;
	border: 4px double #dedede;
	width: 133px;
	height: 133px;
	border-radius: 100%
}
.pricing-tables .pricing-table a {
	margin-bottom: 25px
}
.pricing-table .lead {
	font-size: 16px;
	line-height: 28px;
	position: relative
}
.pricing-tables .pricing-table p:last-child {
	margin-bottom: 0
}
.pricing-table ul {
	margin-bottom: 20px;
	position: relative
}
.pricing-table li {
	padding: 5px 15px
}
.pricing-table li i {
	margin-right: 10px;
	position: relative;
	left: 12px;
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	color: #ff8700
}
.pricing-table.suggested li i, .pricing-table:hover li i {
	left: -5px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	opacity: 1
}

@media(max-width:992px) {
.pricing-tables .container {
	width: 100%
}
}
.client-testimonial .testimonial .context {
	width: 90%;
	margin: 30px auto
}
.client-testimonial .testimonial .rating {
	color: #FFB74D
}
.client-testimonial .testimonial span {
	font-weight: 700;
	color: #fff
}
.testmonial_slider_1 {
	background: 0 0;
	padding: 60px 0;
	position: relative
}
.testmonial_slider_1 .testimonial {
	outline: 0
}
.company img {
	margin: 0 20px;
	cursor: pointer
}
.testmonial_slider_1 img {
	width: 140px;
	background-color: #f7f7f7;
	border-radius: 50%
}
.form-error, .form-success {
	position: absolute;
	top: 0;
	opacity: 0;
	font-weight: 700;
	-webkit-transition: opacity .9s ease-in;
	-moz-transition: opacity .9s ease-in;
	-ms-transition: opacity .9s ease-in;
	-o-transition: opacity .9s ease-in;
	transition: opacity .9s ease-in
}
.google-map {
	width: 100%;
	height: 200px
}
.google-map img {
	max-width: none
}
.content-contact-section {
	padding: 50px 0;
	position: relative
}
.content-contact {
	margin: 10px 0
}
.right-row-border .content-contact {
	border-left: 1px solid #818181
}
.right-row-border div:first-child .content-contact {
	border-left: 0
}
.right-row-border div:nth-child(3n+2) .content-contact {
	padding-left: 30px
}
.content-contact .icon {
	height: 41px;
	margin-bottom: 20px;
	margin-top: -10px
}
.content-contact i {
	font-size: 40px
}
.content-contact .key {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 8px;
	text-transform: uppercase
}
.content-contact .val {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: -10px
}

@media (max-width:767px) {
.right-row-border .content-contact {
	border-left: 0;
	padding-top: 25px;
	margin-bottom: 25px;
	border-top: 1px solid #818181
}
.right-row-border div:first-child .content-contact {
	border-top: 0
}
.right-row-border div:nth-child(3n+2) .content-contact {
	padding-left: 0
}
.right-row-border .content-contact .icon {
	margin-top: 0;
	height: auto
}
.right-row-border div:first-child .content-contact-info {
	margin: 0
}
.right-row-border .content-contact-info {
	padding: 30px 0 0;
	margin: 30px 0 0
}
.right-row-border .content-contact-info:before {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	border-left: 0;
	border-top: 1px solid #f96238
}
}
.cta-4 {
	text-align: left;
	padding: 35px 0
}
.cta-4 .h3 {
	margin-bottom: 0
}

@media(max-width:992px) {
.cta-4 [class^=col-] {
	padding-bottom: 0
}
}
.soc-list {
	display: inline
}
.soc-list li {
	display: inline-block;
	margin: 10px 0
}
.soc-list li a {
	padding: 7px;
	opacity: .8;
	font-size: 25px
}
.soc-list li a:hover {
	opacity: 1;
	color: #fff
}
.footer img.logo {
	float: left;
	margin: 0 20px 0 0;
	height: 55px
}
.copyright .home:hover {
	color: #fff
}

@media(max-width:992px) {
.footer .row [class^=col-] {
	text-align: center;
	padding-bottom: 20px
}
.footer img.logo, .soc-list li {
	float: none
}
.footer .copyright>a {
	display: block;
	margin-bottom: 30px
}
}
.back-to-top-link {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 0;
	right: 5px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(0,0,0,.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	background: url(../img/back-to-top/back-to-top.svg) center 50% no-repeat #ff8700;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	-ms-transition: opacity .3s 0s, visibility 0s .3s;
	-o-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s
}
.back-to-top-link.back-to-top-fade-out, .back-to-top-link.back-to-top-visible, .no-touch .back-to-top-link:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	-ms-transition: opacity .3s 0s, visibility 0s 0s;
	-o-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s
}
.back-to-top-link.back-to-top-visible {
	visibility: visible;
	opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1)
}
.back-to-top-link.back-to-top-fade-out {
	opacity: .5;
	-khtml-opacity: .5;
	-moz-opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.5)";
	filter: alpha(opacity=50)
}
.no-touch .back-to-top-link:hover {
	background-color: #e86256;
	opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1)
}

@media only screen and (min-width:768px) {
.back-to-top-link {
	right: 20px;
	bottom: 0
}
}

@media only screen and (min-width:1024px) {
.back-to-top-link {
	height: 45px;
	width: 48px;
	right: 15px;
	bottom: 0
}
}
.particles-bg canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
#text-rotator {
	background: #191b1d
}
.text-rotator-text h1 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 800;
	margin-top: 60px;
	color: #fff;
	font-family: Ubuntu, sans-serif
}
.typewrite {
	border-right: solid 2px #ff8700;
	margin-right: 5px;
	padding-right: 5px
}
.text-rotator-text p {
	margin-bottom: 20px;
	font-size: 17px;
	margin-top: -7px
}


.page-footer{color:#999;border-top:4px solid #e48f1a;padding:20px 10 0}
.page-footer-top{border-top:1px solid rgba(255,255,255,0.1);padding-top:50px}
.page-footer-bottom{padding:45px 0;font-size:13px}
.page-footer-bottom address{margin-bottom:0}
.page-footer a:hover, .page-footer a:active{color:#fff}
.page-footer ul,.page-footer ul li{line-height:25px}
.page-footer ul a,.page-footer ul .phone-no{font-size:12px;font-weight:400}
.page-footer ul .phone-no{line-height:16px}
.page-footer .title, .page-footer a{font-weight:400}
.page-footer .title{font-size:14px;font-weight:700;margin:0 0 15px}
.page-footer .logo{margin:-8px 0 0 0}
.page-footer .copyright{font-size:16px;border-top:5px solid rgba(255,255,255,0.1);padding:20px 0 10px;float:none;color:#999;overflow:hidden}
.page-footer .languages{font-size:16px;border-top:5px solid rgba(255,255,255,0.1);border-bottom:5px solid rgba(255,255,255,0.1);padding:20px 0 10px;float:none;color:#999;overflow:hidden}
.page-footer address { color:#fff }


/*********** tiny footer section starts **********/
.tiny-footer,.auth-footer{padding:0}
.foot-links{float:right;margin-top:3px}
.foot-links li{display:inline-block;vertical-align:top;padding:0 5px;border-right:1px solid #999;line-height:14px}
.foot-links li:last-child{border:0 none;padding-right:0}
.foot-links li a{color:#fff;padding:0 5px;font-size:14px;display:block}
.foot-links li a:hover{color:#fff}
.auth-footer .page-footer-bottom{padding:0 0 20px}
.auth-bottom-row{border-top: 5px solid rgba(255, 255, 255, 0.1);clear: both;overflow: hidden;padding-top: 20px}
/*********** tiny footer section ends **********/
/**************PAGE FOOTER CSS ENDS*****************/
.page-main{color:#333333}
.page-footer .soc-list li a {
	padding: 7px;
	opacity: .8;
	font-size: 25px
}


@media only screen and (max-width:768px) {
.text-rotator-text h1 {
	font-size: 25px;
	line-height: 30px
}
}
